
@{
    ViewBag.Title = "Dashboard";
}

<h2>Admin Dashboard</h2>
<p>Welcome, @Session["UserEmail"]!</p>
@Html.ActionLink("Manage Questions", "Questions", "Admin", null, new { @class = "btn btn-primary" })



