@{
    ViewBag.Title = "Home";
}

<h2>Welcome to Online Examination System</h2>
<p>Login or Register to start your exam.</p>

<div>
    <a class="btn btn-primary" href="@Url.Action("Login", "Account")">Login</a>
    <a class="btn btn-success" href="@Url.Action("Register", "Account")">Register</a>
</div>
